@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(71 85 105);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
  }
}
